<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keychain-access-groups</key>
	<array>
		<string>com.companyname.Speech2TextApp</string>
	</array>
	<key>Privacy - Microphone Usage Description</key>
	<string>Your microphone will be used to record your speech when you press the &quot;Start Recording&quot; button.</string>
	<key>Privacy - Speech Recognition Usage Description</key>
	<string>Speech recognition will be used to determine which words you speak into this device&apos;s microphone.</string>
</dict>
</plist>
